@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="container">
        <div id="container">
            <input type="file" id="file-selector" accept=".txt">
            <button id="uploadBtn">Profanity Check</button>
            <div class="text-left" id="msg1"></div>
        </div>
        <hr />
        <div id="container">
            <input id="word" type="text">
            <button id="addBtn">Add</button>
            <button id="removeBtn">Remove</button>
            <button id="listBtn">List Profane Words</button>
            <div class="text-left" id="msg2"></div>
        </div>
    </div>
</div>
